body {
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

.header {
    height: 80vh;
    background-image: url(../img/header-background2.jpg);
    background-size: cover;
    background-position: 20% 60%;
    background-repeat: no-repeat;
}

.navigation-header {
    color: white;
    float: right;
    margin-top: 50px; 
}

.navigation-header-links li {
    float: left;
    list-style-type: none;
    padding-left: 30px;
    text-shadow: 0px 0px 3px black;
}

.header-brand {
    color: white;
    font-weight: 1000;
    text-decoration: none;
    font-size: 150%;
    line-height: 100%;
    display: block;
    margin-top: -10%;
    text-shadow: 0px 0px 3px black;
}

.header-brand-wrapper {
    margin-top: 50px;
    float: left;
}

.slogan {
    color: white;
    text-align: center;
    padding-top: 250px;
    text-shadow: 0px 0px 3px black;
}

.slogan-top {
    font-size: 180%;
    font-weight: lighter;
}
.slogan-bottom {
    font-size: 350%;
    font-weight: 1000;
    line-height: 120%;
}

.slogan-button {
    margin-top: 70px;
    color: black;
    background-color: lightskyblue;
    text-shadow: 0px 0px 0px black;
}

.slogan-button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    text-shadow: 0px 0px 3px black;
}

.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services h2 {
    font-weight: lighter;
    color: #1e1e1e;
}

.services p {
    color: #b7b7b7
}

.services i {
    font-size: 1300%;
    color: #222222;
    margin-left: 50px;
    text-align: center;
    margin-top: -3%;
}

.services2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f6f6f6;
}

.services2 h2 {
    font-weight: lighter;
    color: #1e1e1e;
}

.services2 p {
    color: #b7b7b7
}

.services2 i {
    font-size: 1300%;
    color: #222222;
    margin-left: 20px;
    text-align: center;
    margin-top: -5%;
}

.features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.feature-icon {
    width: 80px;
    height: 70px;
    background-color: #222222;
    border-radius: 40px;
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 8px;
    float: left;
}

.feature-text {
    margin-left: 110px;
    color: #b7b7b7;
}

.feature-text h5 {
    margin-bottom: 7px;
    font-size: 130%;
    color: #222222;

}

.row {
    margin-top: 40px;
}

.kundenlogos {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f6f6;
    
}

.logo-container1,
.logo-container2,
.logo-container3,
.logo-container4 {
    width: 200px;
    height: 100px;

}

.kundenlogos img {
    align-self: center;
}